---
---

@import "{{ site.theme }}";

p {
    color: #084c61;
}

a {
    color: #ffaf25;   
}

a:hover {
    color: #ffaf25;
    text-decoration: underline; 
}

header {
    display: none;   
}

.wrapper {
    float: left;
    width: 800px;
}

.wrapper img {
    height: 120px;
}

footer {
    display: none;   
}
