---
---

@import "{{ site.theme }}";

body, h1, h2, h3, p {
    color: #084c61;
}

a {
    color: #ffaf25;   
}

a:hover {
    color: #ffaf25;
    text-decoration: underline; 
}

header h1 a  {
    display: none; 
}

header h1:after  {
    content: 'Version 1.0 (14)';   
}

header p.view {
    display: none;   
}

.wrapper {
    margin-top: 150px;
}

.wrapper section>p:first-child {
    width: 100%;
    background: #ffffff;
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
    padding: 20px 0;
}

.wrapper section > p {
    width: 100%;
}

.wrapper img {
    height: 120px;
}

footer {
    display: none;   
}
