---
---

@import "{{ site.theme }}";

body {
    color: #084c61;
}

a {
    color: #ffaf25;   
}

header h1 {
    content: "Version 1.0 (14)";
}

header .view {
    display: none;   
}

.wrapper {
    position: relative;
    top: 150px;
}

.wrapper > header + section > p {
    position: fixed;
    top: 0;
    background: #ffffff;
    width: 100%;
    left: 0;
    text-align: center;
    border-bottom: 1px solid #ffaf25; 
}

footer small {
    display: none;   
}
